<button 
  mat-button 
  matTooltipPosition="below"
  [matTooltip]="_error" 
  [class.selected]="_selected"
  [class.hasError]="_error ? true : false" 
  (focusin)="selectCell()"
  (focusout)="unselectCell()" >
  
  <mat-form-field>
    <input #input matInput 
      *ngIf="_type === Type.String" 
      [value]="_value"
      (change)="change(input.value)">
    
    <input #input matInput 
      *ngIf="_type === Type.Integer"
      type="number" 
      [value]="_value"
      (change)="change(input.value)">

    <input #input matInput 
      *ngIf="_type === Type.Currency" 
      [value]="_value"
      (change)="change(input.value)">
  </mat-form-field>

</button>